/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* END Reset CSS */
 * {
    box-sizing: border-box;
}

html {
    font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
p {
    margin-bottom: 0;
}
a {
    display: block;
    width: 100%;
}
button {
	background: none;
	border: none;
	outline: none;
}
.wrapper {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.mt-wrapper {
    margin-top: 70px;
}
.mt-3 {
    margin-top: 0!important;
}
.flash, .form-error {
    text-align: center;
}

section {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.catch-copy {
    font-size: 80px;
    text-align: center;
    color: #0dcaf0;
    
}

header nav .nav-item {
    margin-left: 20px;
}
header a, header .nav-item button {
    color: white;
    text-decoration: none;
}
header .nav-item a {
    display: block;
    font-size: 20px;
}
header .nav-link a[aria-current='page'] {
    color: #919191;
}
header .navbar {
    height: 100px;
    padding: 20px;
}
header .navbar .header-logo a {
    font-size: 38px;
}
header .btn-danger.btn-lg {
    font-size: 20px;
    margin-left: 20px;
    padding: 8px;
}
header .btn-outline-primary a {
    color: #007bff;
}

.posts-new {
    margin-top: 70px;
    text-align: center;
}
.posts-new .posts-new-inner {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.posts-new-inner .start-btn, .posts-new-inner .finish-btn,
.posts-new-inner .break-btn,.posts-new-inner .comment-btn, .change-btn a {
    font-size: 26px;
}
.start-form, .break-btn, .btn-outline-warning {
    margin-right: 100px;
}
.posts-new a{
    text-decoration: none;
    line-height: 170px;
}
.posts-new
.posts-new .finish-form {
    margin-top: 0;
}
.posts-new .break-form,
.posts-new .comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts-new .break-form input[name="break_time"]{
    height: 35px;
}
.posts-new .break-form textarea{
    width: 210px;
    height: 40px;
}
.posts-new .btn {
    border-radius: 50%;
    padding: 0;
    width: 170px;
    height: 170px;
}
.posts-new .modal-close-btn {
    border-radius: 10%;
    display: block;
    margin-top: 30px;
    width: 80px;
    height: 50px;
}
.posts-new .date {
    font-size: 50px;
}
.posts-new .clock {
    margin-top: -35px;
    font-size: 110px;
}
.posts-new .btn-outline-warning a {
    color: #ffc107;
}
.posts-new .btn-outline-danger a {
    color: #dc3545;
}
.posts-new .btn-outline-warning a:hover,
.posts-new .btn-outline-danger a:hover {
    color: #fff;
}
.over-lay {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #999;
    opacity: 0.7;
}
.modal_ {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 80%;
    padding: 30px;
    background-color: #fff;
}
.break.active,
.comment.active,
.over-lay.active {
    display: block;
}
.change-btn  {
    display: inline-block;
}


.show > h2,
.show > p {
    text-align: center;
}
.content {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}
.alert_mark {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    padding: 4px;
    display: inline;
    color: #dc3545;
    border: 2px solid #dc3545;
}
.show .date {
    font-size: 20px;
}
.show p,
.index p {
    margin-bottom: 0;
}
.link a {
    color: #0dcaf0;
    text-decoration: none;
}
.name a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}
.show .name a {
    font-size: 50px;
}
.show .month,
.show .time {
    text-align: center;
    font-size: 25px;
}
.show .month {
    margin-top: 60px;
}
.show .time {
    margin-bottom: 20px;
}

.destroy  {
    color:#dc3545;
    text-decoration: none;
}
.destroy:hover  {
    color: #fff;
}



